body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  padding-bottom: 30px;
}
#edit-sem h1 {
  padding-bottom: 10px;
}
h3 {
  font-size: 28px;
}
.nav-menu-wrap {
  display: flex;
  justify-content: center;
}
.nav-menu {
  margin: 50px;
}
.nav-menu a {
  border: 2px solid #333;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 10px;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.nav-menu a:hover {
  background-color: #333;
  color: #fff;
}
.custom-wrap {
  padding: 5% 20%;
  text-align: center;
}

button {
  margin: 5px 10px;
}

input, select {
  height: 40px;
}

.col-md-6.left {
  margin-right: 4%;
}

.col-md-6 {
  text-align: left;
  padding: 0;
  width: 48%;
}

.button-wrap {
  margin-top: 30px;
}

#edit-sem .button-wrap a {
  margin-top: 30px;
}
#edit-sem .button-wrap button {
  margin-top: 35px;
}

#edit-sem .button-wrap {
  margin-left: -20px;
}
#edit-sem textarea {
  height: 126px;
  margin-bottom: 18px;
}

.col-md-6 .form-group {
  margin-right: 10px;
}

#list-seminars {
  list-style-type: none;
}

.custom-wrap.seminars {
  padding: 5% 10%;
  text-align: center;
}
.seminars .col-md-4 {
  width: 30%!important;
}
.seminar-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 6px 2px 20px -2px #00000073;
  margin: 10px;
  padding: 0!important;
  text-align: left;
}
.seminar-card li {
  padding: 15px;
}
.seminar-card p {
  font-size: 13px;
}
.seminar-card a {
  border: 2px solid #333;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
}
.seminar-btn-link {
  text-align: center;
  margin-bottom: -11px;
}
.seminar-prev-img {
  height: 200px;
  background-color: rgb(131, 131, 131);
}
#customFile {
  display: none;
}
#add-speakers {
  list-style: none;
  padding-left: 0;
}
#add-speakers li {
  list-style-type: none;
}